@font-face {
  font-family: fontello;
  src: url(node_modules/_mavon-editor@2.9.0@mavon-editor/dist/font//fontello/fontello.eot);
  src: url(node_modules/_mavon-editor@2.9.0@mavon-editor/dist/font//fontello/fontello.eot#iefix) format("embedded-opentype"), url(node_modules/_mavon-editor@2.9.0@mavon-editor/dist/font//fontello/fontello.woff2) format("woff2"), url(node_modules/_mavon-editor@2.9.0@mavon-editor/dist/font//fontello/fontello.woff) format("woff"), url(node_modules/_mavon-editor@2.9.0@mavon-editor/dist/font//fontello/fontello.ttf) format("truetype"), url(node_modules/_mavon-editor@2.9.0@mavon-editor/dist/font//fontello/fontello.svg#fontello) format("svg");
  font-weight: 400;
  font-style: normal;
}
[class*=" fa-mavon-"]:before,
[class^=fa-mavon-]:before {
  font-family: fontello;
  font-style: normal;
  font-weight: 400;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: 0.2em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.fa-mavon-bold:before {
  content: "\E800";
}
.fa-mavon-italic:before {
  content: "\E801";
}
.fa-mavon-thumb-tack:before {
  content: "\E802";
}
.fa-mavon-link:before {
  content: "\E803";
}
.fa-mavon-picture-o:before {
  content: "\E804";
}
.fa-mavon-repeat:before {
  content: "\E805";
}
.fa-mavon-undo:before {
  content: "\E806";
}
.fa-mavon-trash-o:before {
  content: "\E807";
}
.fa-mavon-floppy-o:before {
  content: "\E808";
}
.fa-mavon-compress:before {
  content: "\E809";
}
.fa-mavon-eye:before {
  content: "\E80A";
}
.fa-mavon-eye-slash:before {
  content: "\E80B";
}
.fa-mavon-question-circle:before {
  content: "\E80C";
}
.fa-mavon-times:before {
  content: "\E80D";
}
.fa-mavon-align-left:before {
  content: "\E80F";
}
.fa-mavon-align-center:before {
  content: "\E810";
}
.fa-mavon-align-right:before {
  content: "\E811";
}
.fa-mavon-arrows-alt:before {
  content: "\F0B2";
}
.fa-mavon-bars:before {
  content: "\F0C9";
}
.fa-mavon-list-ul:before {
  content: "\F0CA";
}
.fa-mavon-list-ol:before {
  content: "\F0CB";
}
.fa-mavon-strikethrough:before {
  content: "\F0CC";
}
.fa-mavon-underline:before {
  content: "\F0CD";
}
.fa-mavon-table:before {
  content: "\F0CE";
}
.fa-mavon-columns:before {
  content: "\F0DB";
}
.fa-mavon-quote-left:before {
  content: "\F10D";
}
.fa-mavon-code:before {
  content: "\F121";
}
.fa-mavon-superscript:before {
  content: "\F12B";
}
.fa-mavon-subscript:before {
  content: "\F12C";
}
.fa-mavon-header:before {
  content: "\F1DC";
}
.fa-mavon-window-maximize:before {
  content: "\F2D0";
}
.markdown-body strong {
  font-weight: bolder;
}
.markdown-body .hljs-center {
  text-align: center;
}
.markdown-body .hljs-right {
  text-align: right;
}
.markdown-body .hljs-left {
  text-align: left;
}
.steps-ctrl[data-v-f548958c] {
  width: 100%;
  font-size: 12px;
  margin-left: 25px;
}
.steps-ctrl .title[data-v-f548958c] {
  color: #333;
}
.steps-ctrl .steps-wrap[data-v-f548958c] {
  height: 57px;
  display: flex;
  align-items: center;
}
.steps-ctrl .steps-wrap .steps-item[data-v-f548958c] {
  display: flex;
  flex-direction: column;
  color: #c0c4cc;
  margin-left: 381px;
}
.steps-ctrl .steps-wrap .steps-item[data-v-f548958c]:first-child {
  margin-left: 0;
}
.steps-ctrl .steps-wrap .steps-item:first-child .round[data-v-f548958c]:before {
  display: none;
}
.steps-ctrl .steps-wrap .steps-item.active .stepsTxt[data-v-f548958c],
.steps-ctrl .steps-wrap .steps-item.active .round[data-v-f548958c] {
  color: #1989fa;
  font-weight: 500;
}
.steps-ctrl .steps-wrap .steps-item.active .round[data-v-f548958c] {
  border-color: #1989fa;
}
.steps-ctrl .steps-wrap .steps-item.active .round[data-v-f548958c]:before {
  background-color: #1989fa;
}
.steps-ctrl .steps-wrap .steps-item.wait .stepsTxt[data-v-f548958c],
.steps-ctrl .steps-wrap .steps-item.wait .round[data-v-f548958c] {
  color: #303133;
  font-weight: 500;
}
.steps-ctrl .steps-wrap .steps-item.wait .round[data-v-f548958c] {
  border-color: #303133;
}
.steps-ctrl .steps-wrap .steps-item .round[data-v-f548958c] {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 2px solid;
  border-color: #c0c4cc;
  position: relative;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}
.steps-ctrl .steps-wrap .steps-item .round[data-v-f548958c]:before {
  display: block;
  content: "";
  width: 388px;
  height: 2px;
  background-color: #c0c4cc;
  position: absolute;
  right: 22px;
  top: 9px;
}
.steps-ctrl .steps-wrap .steps-item .stepsTxt[data-v-f548958c] {
  color: #c0c4cc;
}
.steps-ctrl .toNextBtn[data-v-f548958c] {
  margin-top: 12px;
  padding: 12px 20px;
  font-size: 14px;
  border-radius: 4px;
  text-align: center;
  box-sizing: border-box;
  cursor: pointer;
  background: #fff;
  border: 1px solid #dcdfe6;
  border-color: #dcdfe6;
}
