“*.class”

.idea
bin
conf
doc
env
gradle
.gradle/4.8-rc-3
.gradle/buildOutputCleanup
.gradle/vcsWorkingDirs
lib
logs
out
temp
build.sh
build_dmz.sh
build_rdkcr.sh
Dockerfile
mservice.iml
/.project
/.classpath
build.gradle
gradlew
gradlew.bat
settings.gradle
.settings
/.gradle/
